################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MsgSrv/obj
/MsgSrv/bin/Debug/net8.0
